@import '../../varibales';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  margin-top: 10vh;
}

.contentText {
  left: 10.9%;
  right: 53.3%;
  top: 21.58%;
  bottom: 24.02%;
}

.contentParallax {
  width: 793px;
  height: 680px;
  left: 648px;
  top: 160px;
}
