$third: rgba(245, 219, 19, 1);
$primary: rgba(242, 184, 7, 1);
$second: rgba(242, 143, 22, 1);
$danger: rgba(217, 62, 48, 1);
$grey: rgba(246, 247, 249, 1);
$pharagraph: rgba(33, 33, 33, 1);
$colorGradient: rgba(178, 51, 39, 1);
$white-light: rgba(253, 253, 253, 1);
$greyGradient: rgba(255, 255, 255, 1);
$blueGradient: rgba(91, 199, 250, 1);
$pinkGradient: rgba(248, 158, 174, 1);
$greenGradient: rgba(100, 211, 104, 1);
$dark: rgba(29, 30, 29, 1);
$goldGradient: rgba(181, 126, 16, 1);
$yellowGradient: rgba(245, 219, 19, 1);
$redGradientCard: rgba(115, 33, 25, 1);
