.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.buttonWrapper {
    text-align: center;
    padding: 2rem;
}

.Card {
    width: 310px;
    height: 400px;
    cursor: pointer;
    justify-self: center;
}
